[submodule "dependencies/IsaacLab"]
	path = dependencies/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "dependencies/curobo"]
	path = dependencies/curobo
	url = git@github.com:Papaercold/curobo.git
